body {
	background-color: black;
	background-repeat: space;
	background-position: center;
	color: #55CA95;
	text-align: center;
	font-family:'Kavivanar', cursive;
	font-size: 30px;
	background-image: url('../images/fortuneteller.png');
	margin: auto;
	text-align: center;
}

h1 {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	max-width: 60%;
	font-family: 'Condiment', cursive;
	letter-spacing: 8px;
	font-weight: 00;
	text-align: center;
	margin: auto;
	float: none;
	padding: 1.5% 2.5%;
	display: block;
	margin-top: 30px;
	color: #55CA95;

}

.text {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	max-width: 60%;
	margin: auto;
	text-align: center;
	float: none;
	display: block;
	padding: 2.5%;
}

#game {
	max-width: 980px;
	text-align: center;
	margin: auto;
	float: none;
}

#guessesSoFar {
	letter-spacing: 5px;
}